<!-- <button (click)="gettracks()">Wishlist</button> -->
<!-- <ul>
  <li *ngFor="let track of alltracks">
    {{track.trackName}}
    <br><i>{{track.trackComment}}</i><br>
    <img src="{{track.imageUrl}}" style="width:150px;height:150px" ><br>
    <app-update [track]="track"></app-update>
   </li>
</ul> -->
<div class="container">
  <div  *ngFor="let track of alltracks" id="mydiv">
     <div class="card" style="width: 22rem"> 
    <div class="card-body">
        <h5 class="my-0 font-weight-normal">{{track.trackName}}</h5>
      <h4 class="card-title pricing-card-title">{{track.trackComment}} </h4>
      <ul class="list-unstyled mt-3 mb-4">
        <img src="{{track.imageUrl}}" >
      </ul>
      <app-update [track]="track"></app-update>
    </div>
  </div>
</div>


<!-- 
<div class="container">
  <div *ngIf="searchdata">
    <div  *ngFor="let search of searchdata" id="mydiv">
        <div class="card" style="width: 22rem">
            
            <div class="card-body shadow-sm">
              
              
                  <img src="{{geturl(search)}}"  >
           
              <h5 class="card-title">{{search.name}} </h5>
              
              <app-addwishlist [trackname]='search.name' [trackartist]='search.artist'
                  [trackurl]='geturl(search)'
                  [id]='search.listeners'></app-addwishlist>
      
            </div>
          </div>
     </div>
  </div>
  </div>
   -->
